<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>Filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/User/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SettingListController</servlet-name>
        <servlet-class>Controller.SettingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>Controller.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUserEmailController</servlet-name>
        <servlet-class>Controller.VerifyUserEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetailController</servlet-name>
        <servlet-class>Controller.SettingDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>Controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContractController</servlet-name>
        <servlet-class>Controller.ContractController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>Controller.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetailsController</servlet-name>
        <servlet-class>Controller.BlogDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogSearchController</servlet-name>
        <servlet-class>Controller.BlogSearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SettingListController</servlet-name>
        <url-pattern>/SettingListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/Account/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUserEmailController</servlet-name>
        <url-pattern>/VerifyUserEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetailController</servlet-name>
        <url-pattern>/SettingDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/ForgotPassword/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/User/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContractController</servlet-name>
        <url-pattern>/Contract/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/BlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetailsController</servlet-name>
        <url-pattern>/BlogDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupportTypeController</servlet-name>
        <url-pattern>/SupportTypeController/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/Views/ErrorPage/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/Views/ErrorPage/403.jsp</location>
    </error-page>
</web-app>
