<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EditProfileController</servlet-name>
        <servlet-class>Controller.EditProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingListController</servlet-name>
        <servlet-class>Controller.SettingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegisterController</servlet-name>
        <servlet-class>Controller.UserRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUserRegisterEmailController</servlet-name>
        <servlet-class>Controller.VerifyUserRegisterEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUserEmailController</servlet-name>
        <servlet-class>Controller.VerifyUserEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>Controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfileController</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingListController</servlet-name>
        <url-pattern>/SettingListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisterController</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUserEmailController</servlet-name>
        <url-pattern>/VerifyUserEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
